CovGym/CovGym.v12.suo
CovGym/CovGym.v12.suo
CovGym/CovGym.v12.suo
CovGym/CovGym/frmAcceso.cs
CovGym/CovGym/obj/Debug/CovGym.csproj.FileListAbsolute.txt
CovGym/CovGym/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache